/*bar样式*/

@barBgColor: #0e90d2;
@barSideSpacing: 0.5rem;
@barHeight: 2.2rem;

//分割线颜色
@colorSplite: #0b6fa2;


@fontSizeDefault: 0.85rem;
@fontWeight: 500;

@color-text: #3d4145; //文案色
@color-title: #fff;   //bar文本色