@import "mixin.less";
.buttons-tab {
  border-bottom:1px solid #d0d0d0;
  .tab-link {
    display: block;
    color: #5f646e;
    font-size: 0.8rem;
    width: 100%;
    height: 2rem;
    flex: 1;
    line-height: 2rem;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    text-align: center;
  }
  .active {
    color: @color-link;
    border-color: @color-link;
  }
}
.buttons-row {
  .tab-link{
    flex: 1;
    display: block;
    color: @color-link;
    border: 1px solid @color-link;
    border-left: none;
    text-align: center;
    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
      margin-left: 0;
      border-left-width: 1px;
      border-left-style: solid;
    }
    &.active {
      background-color: @color-link;
      color: #ffffff;
      z-index: 90;
    }
    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}
.tabs {
  .tab {
    display: none;
    &.tab-active {
      display: block;
    }
  }
}
.content-block {
  margin: 1.75rem 0;
  padding: 0 0.75rem;
  color: #6d6d72;
}